@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #f2f2f2;
}

#column-2 {
  background: #e6e6e6;
}

#column-3 {
  background: #d9d9d9;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #f1f1f1;
  }

  #column-1 {
    background-color: #eeeeee ;
  }

  #column-2 {
    background-color: #e9e9e9;
  }

  #column-3 {
    background-color: #e1e1e1;
    width:100%;
  }

  footer {
    background-color: #d9d9d9;
  }

  .col-3{
  	width:50%;
  }
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #e1e1e1;
  }

  #column-1 {
    background-color: #e9e9e9;
  }

  #column-2 {
    background-color: #eeeeee;
  }

  #column-3  {
    background-color: #f1f1f1;
    width:33.3%;
  }

  footer {
    background-color: #d9d9d9;
  }
  .col-3{
  	width:33.3%;
  }   
}
